html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.contacts {
  position: absolute;
  width: 100%;
  bottom: 50px;
  font: 12px/22px 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.contacts .txt {
  float: left;
  width: 50%;
  padding: 16px 20px 16px 0;
  border-right: 1px solid #fff;
  text-align: right;
}
.contacts .way {
  float: right;
  width: 50%;
  padding: 5px 0 5px 20px;
  border-left: 1px solid #fff;
}
.contacts .way a {
  margin-left: 5px;
  padding: 2px 5px;
  background: rgba(78, 132, 124, 0.5);
  text-decoration: none;
  color: #fff;
}
.contacts .way .e-mail a {
  margin-left: 15px;
}
#app {
  min-height: 100%;
}
#app .scr.scr_1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #363636;
}
#app .scr.scr_1 .background {
  width: 100%;
  height: 100%;
}
#app .scr.scr_1 .background .bgr {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#app .scr.scr_1 .background .bgr.bgr1 {
  background: url('../img/screen1-bg.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_1 .background .bgr.bgr1:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#app .scr.scr_1 .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#app .scr.scr_1 .inner .avatar {
  position: relative;
  margin: 140px auto 0;
  width: 140px;
  height: 140px;
}
#app .scr.scr_1 .inner .avatar img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #fff;
  -webkit-animation: avatar_pulse 5s infinite linear;
  animation: avatar_pulse 5s infinite linear;
}
@-webkit-keyframes avatar_pulse {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
    box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px 50px rgba(78, 132, 124, 0.42);
    box-shadow: 0px 0px 50px 50px rgba(78, 132, 124, 0.42);
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
    box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
  }
}
@keyframes avatar_pulse {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
    box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
  }
  50% {
    -webkit-box-shadow: 0px 0px 50px 50px rgba(78, 132, 124, 0.42);
    box-shadow: 0px 0px 50px 50px rgba(78, 132, 124, 0.42);
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
    box-shadow: 0px 0px 10px 0px rgba(78, 132, 124, 0.42);
  }
}
#app .scr.scr_1 .inner .avatar .orbs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -110px;
  border: 1px dashed #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 .sat {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px;
  background: #4d847b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
@-webkit-keyframes orbit_one__s_html {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 110px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 110px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(0, 110px, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(0, 110px, 0) rotateZ(360deg);
  }
}
@keyframes orbit_one__s_html {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 110px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 110px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(0, 110px, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(0, 110px, 0) rotateZ(360deg);
  }
}
@-webkit-keyframes orbit_one__s_css {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-95px, -55px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(-95px, -55px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(-95px, -55px, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(-95px, -55px, 0) rotateZ(360deg);
  }
}
@keyframes orbit_one__s_css {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-95px, -55px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(-95px, -55px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(-95px, -55px, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(-95px, -55px, 0) rotateZ(360deg);
  }
}
@-webkit-keyframes orbit_one__s_js {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(95px, -55px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(95px, -55px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(95px, -55px, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(95px, -55px, 0) rotateZ(360deg);
  }
}
@keyframes orbit_one__s_js {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(95px, -55px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(95px, -55px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) translate3d(95px, -55px, 0) rotateZ(360deg);
    transform: rotateZ(-360deg) translate3d(95px, -55px, 0) rotateZ(360deg);
  }
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 .sat.s-html {
  -webkit-animation: orbit_one__s_html 10s infinite linear;
  animation: orbit_one__s_html 10s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 .sat.s-html:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'HTML';
  font: 10px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 .sat.s-css {
  -webkit-animation: orbit_one__s_css 10s infinite linear;
  animation: orbit_one__s_css 10s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 .sat.s-css:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'CSS';
  font: 12px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 .sat.s-js {
  -webkit-animation: orbit_one__s_js 10s infinite linear;
  animation: orbit_one__s_js 10s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb1 .sat.s-js:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'js';
  font: 14px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border: 1px dashed #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px;
  background: #4d847b;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
@-webkit-keyframes orbit_two__s_less {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 150px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 150px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 150px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 150px, 0) rotateZ(-360deg);
  }
}
@keyframes orbit_two__s_less {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 150px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 150px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 150px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 150px, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes orbit_two__s_jq {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-130px, -75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(-130px, -75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(-130px, -75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(-130px, -75px, 0) rotateZ(-360deg);
  }
}
@keyframes orbit_two__s_jq {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-130px, -75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(-130px, -75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(-130px, -75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(-130px, -75px, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes orbit_two__s_ps {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(130px, -75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(130px, -75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(130px, -75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(130px, -75px, 0) rotateZ(-360deg);
  }
}
@keyframes orbit_two__s_ps {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(130px, -75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(130px, -75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(130px, -75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(130px, -75px, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes orbit_two__s_gulp {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, -150px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, -150px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, -150px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, -150px, 0) rotateZ(-360deg);
  }
}
@keyframes orbit_two__s_gulp {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, -150px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, -150px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, -150px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, -150px, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes orbit_two__s_git {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-130px, 75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(-130px, 75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(-130px, 75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(-130px, 75px, 0) rotateZ(-360deg);
  }
}
@keyframes orbit_two__s_git {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(-130px, 75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(-130px, 75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(-130px, 75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(-130px, 75px, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes orbit_two__s_vue {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(130px, 75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(130px, 75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(130px, 75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(130px, 75px, 0) rotateZ(-360deg);
  }
}
@keyframes orbit_two__s_vue {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(130px, 75px, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(130px, 75px, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(130px, 75px, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(130px, 75px, 0) rotateZ(-360deg);
  }
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-less {
  -webkit-animation: orbit_two__s_less 20s infinite linear;
  animation: orbit_two__s_less 20s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-less:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'LESS';
  font: 10px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-jq {
  -webkit-animation: orbit_two__s_jq 20s infinite linear;
  animation: orbit_two__s_jq 20s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-jq:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'jQ';
  font: 14px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-ps {
  -webkit-animation: orbit_two__s_ps 20s infinite linear;
  animation: orbit_two__s_ps 20s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-ps:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'Ps';
  font: 14px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-gulp {
  -webkit-animation: orbit_two__s_gulp 20s infinite linear;
  animation: orbit_two__s_gulp 20s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-gulp:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'Gulp';
  font: 10px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-git {
  -webkit-animation: orbit_two__s_git 20s infinite linear;
  animation: orbit_two__s_git 20s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-git:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'Git';
  font: 12px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-vue {
  -webkit-animation: orbit_two__s_vue 20s infinite linear;
  animation: orbit_two__s_vue 20s infinite linear;
}
#app .scr.scr_1 .inner .avatar .orbs .orb2 .sat.s-vue:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: 'Ng';
  font: 12px/34px 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}
#app .scr.scr_1 .inner .name {
  margin-top: 135px;
  font: 50px/52px 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 12px;
  text-align: center;
  color: #fff;
}
#app .scr.scr_1 .inner .occupation {
  margin-top: 45px;
  padding: 30px 0;
  background: rgba(78, 132, 124, 0.5);
  font: 12px/14px 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}
#app .scr.scr_2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background: #cccccc;
}
#app .scr.scr_2 .inner .hello {
  margin-top: 45px;
  font: 12px/16px 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #1e1e1e;
}
#app .scr.scr_2 .inner .myworks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  padding-bottom: 140px;
}
#app .scr.scr_2 .inner .myworks .work {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 10px;
  overflow: hidden;
  background: #ccc;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
#app .scr.scr_2 .inner .myworks .work .image {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .scr.scr_2 .inner .myworks .work .image:before {
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(78, 132, 124, 0.9);
}
#app .scr.scr_2 .inner .myworks .work .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#app .scr.scr_2 .inner .myworks .work .inner .prg-text {
  display: none;
  width: 100%;
  height: 100%;
}
#app .scr.scr_2 .inner .myworks .work .inner .prg-text span {
  display: table-cell;
  vertical-align: middle;
  font: 24px/28px 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}
#app .scr.scr_2 .inner .myworks .work .inner .sample-text {
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
  display: table;
  width: 100%;
  height: 100%;
}
#app .scr.scr_2 .inner .myworks .work .inner .sample-text span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  font: 14px/20px 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}
#app .scr.scr_2 .inner .myworks .work:hover .image:before,
#app .scr.scr_2 .inner .myworks .work:active .image:before {
  opacity: 1;
}
#app .scr.scr_2 .inner .myworks .work:hover .inner .sample-text,
#app .scr.scr_2 .inner .myworks .work:active .inner .sample-text {
  opacity: 1;
}
#app .scr.scr_2 .inner .myworks .work.prg {
  pointer-events: none;
}
#app .scr.scr_2 .inner .myworks .work.prg .image:before {
  opacity: 1;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(78, 132, 124, 0.9);
  -webkit-animation: progress 5s linear infinite;
  animation: progress 5s linear infinite;
  background-repeat: repeat-x;
  -webkit-background-size: 240px 240px;
          background-size: 240px 240px;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
@-webkit-keyframes progress {
  to {
    background-position: 240px 0;
  }
}
@keyframes progress {
  to {
    background-position: 240px 0;
  }
}
#app .scr.scr_2 .inner .myworks .work.prg .prg-text {
  display: table;
}
#app .scr.scr_2 .inner .myworks .work.meetkz .image {
  background: url('../img/work-meetkz.gif') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.traktrain .image {
  background: url('../img/work-traktrain.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.mayak .image {
  background: url('../img/work-mayak.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.polimer .image {
  background: url('../img/work-polimer.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.sad .image {
  background: url('../img/work-sad.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.smm4me .image {
  background: url('../img/work-smm4me.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.implantology .image {
  background: url('../img/work-implantology.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.tourazura .image {
  background: url('../img/work-tourazura.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.lovit .image {
  background: url('../img/work-lovit.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.lealta .image {
  background: url('../img/work-lealta.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .myworks .work.counter .image {
  background: url('../img/work-counter.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background: url('../img/footer-bg.jpg') no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
}
#app .scr.scr_2 .inner .footer:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#app .scr.scr_2 .inner .footer .contacts {
  bottom: 23px;
}
#app .scr.scr_2 .inner .footer .contacts .txt {
  padding: 5px 20px 5px 0;
}
@media (max-width: 768px) {
  .contacts {
    font: 10px/22px 'Roboto', Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 600px) {
  .contacts {
    font: 8px/22px 'Roboto', Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 500px) {
  .contacts {
    bottom: 20px;
    font: 8px/16px 'Roboto', Arial, Helvetica, sans-serif;
  }
  .contacts .txt {
    float: none;
    width: 100%;
    padding: 0;
    border: none;
    text-align: center;
  }
  .contacts .way {
    float: none;
    width: 100%;
    padding: 0;
    border: none;
    text-align: center;
  }
  .contacts .way a {
    margin-left: 0;
  }
  .contacts .way .e-mail a {
    margin-left: 0;
  }
  #app .scr.scr_1 .inner .name {
    font: 22px/26px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
  }
  #app .scr.scr_1 .inner .occupation {
    padding: 20px 0;
  }
  #app .scr.scr_2 .inner .footer .contacts {
    bottom: 18px;
  }
  #app .scr.scr_2 .inner .footer .contacts .txt {
    padding: 0;
  }
}
@media (max-width: 375px) {
  #app .scr.scr_1 .inner .avatar {
    margin-top: 110px;
  }
  #app .scr.scr_1 .inner .name {
    margin-top: 110px;
  }
  #app .scr.scr_1 .inner .occupation {
    margin-top: 15px;
    padding: 10px 0;
  }
  #app .scr.scr_2 .inner .hello {
    font: 10px/16px 'Roboto', Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 320px) {
  #app .scr.scr_1 .inner .avatar {
    margin-top: 110px;
  }
  #app .scr.scr_1 .inner .name {
    font: 12px/14px 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
  }
  #app .scr.scr_1 .inner .occupation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font: 10px/12px 'Roboto', Arial, Helvetica, sans-serif;
  }
  #app .scr.scr_1 .inner .contacts {
    display: none;
  }
}
