@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.app {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  .main {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    top: 0;
    left: 0;

    .wrapper-canvas {
    }

    .safari-filter {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backdrop-filter: blur(50px);
      filter: blur(50px);

      &.active {
        display: block;
      }
    }

    .wrapper-content {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 20px solid #ffffff17;
      padding: 40px;

      .border {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 40px;

        span {
          position: relative;
          width: 100%;
          height: 100%;

          &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 1px solid #ffffff38;
          }
        }
      }

      .content {
        position: relative;
        width: 100%;
        height: 100%;

        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;

          .block {
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            transition: opacity var(--transition) ease-in-out;

            &.hidden {
              opacity: 0;
            }
          }

          &.one {
            .center {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 280px;

              .top, .bot {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .top-one, .top-two, .bot-one, .bot-two {
                  width: 100%;
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .el {
                    width: 100%;
                    display: block;
                    text-transform: uppercase;
                  }
                }

                .top-one, .bot-two {
                  width: 100%;
                  height: 60px;
                  background: #ffffff;
                }

                .top-two, .bot-one {
                  height: 130px;
                }
              }

              .top {
                .top-one {
                  .el {
                    &.one {
                      font: 500 40px/60px 'Wire One', sans-serif;
                      letter-spacing: 30px;
                      padding-left: 18px;
                      color: #2d2d2d;
                    }

                    &.two {
                    }
                  }
                }

                .top-two {

                  .el {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    height: 100%;

                    &.one {
                      font: 500 110px/110px 'Wire One', sans-serif;
                      color: #ffffff;
                    }
                  }
                }
              }

              .bot {
                .bot-one {
                  .el {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    height: 100%;

                    &.one {
                      display: none;
                      font: 500 130px/110px 'Wire One', sans-serif;
                      color: #ffffff;
                    }

                    &.two {
                      display: none;
                      font: 500 50px/110px 'Roboto', sans-serif;
                      color: #fff;
                    }

                    &.three {
                      display: none;
                      font: 500 34px/110px 'Roboto', sans-serif;
                      color: #fff;
                    }

                    &.four {
                      display: none;
                      font: 500 55px/110px 'Roboto', sans-serif;
                      color: #fff;
                    }

                    &.visible {
                      display: block;
                    }
                  }
                }

                .bot-two {

                  .el {
                    &.one {
                      font: 500 40px/60px 'Wire One', sans-serif;
                      letter-spacing: 24px;
                      padding-left: 15px;
                      color: #2d2d2d;
                    }

                    &.two {
                    }
                  }
                }
              }
            }

            .links {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              top: 40px;
              left: 40px;

              .link {
                overflow: hidden;
                cursor: pointer;
                padding: 0 10px;
                height: 40px;
                margin-left: 20px;
                border: 1px solid #ffffff38;
                transition: border-color var(--transition) linear;

                &:first-child {
                  margin-left: 0;
                }

                &:hover {
                  border-color: rgba(245, 245, 245, 1);

                  a {
                    color: rgba(245, 245, 245, 1);
                  }
                }

                a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  font: 300 18px/20px 'Roboto', sans-serif;
                  text-transform: capitalize;
                  text-decoration: none;
                  letter-spacing: 1px;
                  color: #ffffff38;
                  transition: color var(--transition) linear;

                  &.github {
                  }

                  &.gmail {
                  }

                  &.telega {
                    .full {
                      display: block;
                    }

                    .short {
                      display: none;
                    }
                  }
                }
              }
            }

            .qr-code {
              overflow: hidden;
              position: absolute;
              width: 45px;
              height: 45px;
              top: 37px;
              right: 37px;
              transition: all var(--transition) linear;

              &.show {
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
              }

              a.code {
                display: block;
                cursor: pointer;
                width: 100%;
                height: 100%;
                background-color: #ffffff38;
                mask-image: url("./qr.svg");
                mask-repeat: no-repeat;
                mask-position: 50%;
                mask-size: contain;
                -webkit-mask-size: contain;
                transition: background-color var(--transition) linear;

                &:hover {
                  background-color: rgba(245, 245, 245, 1);
                }
              }
            }

            .cta {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              bottom: 40px;
              left: 0;
              width: 100%;
              color: #ffffff38;
              font: 300 14px/16px 'Roboto', sans-serif;
              text-transform: uppercase;
              letter-spacing: 18px;
              padding-left: 20px;
              text-align: center;
            }
          }

          &.two {
            .block {
              position: relative;
              justify-content: space-between;
              padding: 40px 0;

              h1 {
                margin: 0 40px;
                padding: 0 0 12px;
                font: 500 111px/111px 'Wire One', sans-serif;
                text-transform: uppercase;
                text-align: left;
                color: #ffffff;
                border-bottom: 16px solid #fff;
                display: inline-block;
                align-self: baseline;
              }

              .about {
                position: absolute;
                top: 46px;
                right: 40px;
                width: 360px;

                .text {
                  font: 300 20px/28px 'Roboto', sans-serif;
                  //letter-spacing: 1px;
                  text-align: right;
                  color: #fff;

                  a {
                    text-decoration: none;
                    font-weight: 500;

                    &.angular {
                      color: #de0331;
                    }

                    &.react {
                      color: #61dafb;
                    }
                  }
                }
              }

              .icon-dev {
                position: absolute;
                width: 210px;
                height: 210px;
                bottom: -4px;
                left: 75px;
                background-color: #ffffff;
                mask-image: url("./icon-dev.svg");
                mask-size: cover;
                -webkit-mask-size: cover;
              }

              .skills-block {
                width: 100%;
                padding: 0 40px;

                .skill {
                  margin-top: 20px;

                  &:first-child {
                    margin-top: 0;
                  }

                  .s-icon {
                  }

                  .s-title {
                    color: #ffffff;
                    font: 300 24px/26px 'Roboto', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 6px;
                    text-align: right;
                  }
                }
              }
            }
          }

          &.three {
            .block {
              position: relative;
              justify-content: space-between;
              padding: 40px 0;

              h1 {
                margin: 0 40px;
                padding: 0 0 12px;
                font: 500 111px/111px 'Wire One', sans-serif;
                text-transform: uppercase;
                text-align: left;
                color: #ffffff;
                border-bottom: 16px solid #fff;
                display: inline-block;
                align-self: baseline;
              }

              .works-block {
                .work {
                  .w-icon {
                  }

                  .w-title {
                  }
                }
              }
            }
          }

          &.fish {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font: 500 110px/140px 'Wire One', sans-serif;
            color: #ffffff;

            span {
              &.title {
                letter-spacing: 67px;
                padding-left: 67px;
              }

              &.subtitle {
                font-size: 30px;
                line-height: 60px;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-family: 'Roboto';
              }

              &.to-top {
                text-transform: uppercase;
                user-select: none;
                cursor: pointer;
                line-height: 72px;
                font-size: 42px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .app {
    .main {
      .wrapper-content {
        padding: 0;

        .border {
          padding: 0;
        }

        .content {
          .item {
            &.one {
              .center {
                width: 100vw;

                .top, .bot {
                  .top-one, .bot-two {
                    height: 60px;
                  }

                  .top-two, .bot-one {
                    height: 80px;
                  }
                }

                .top {
                  .top-one {
                    .el {
                      &.one {
                        font: 500 30px/60px 'Wire One', sans-serif;
                        letter-spacing: 34px;
                        padding-left: 34px;
                        color: #2d2d2d;
                      }
                    }
                  }

                  .top-two {
                    .el {
                      &.one {
                        font: 500 70px/70px 'Wire One', sans-serif;
                        letter-spacing: 10px;
                        padding-left: 10px;
                        color: #ffffff;
                      }
                    }
                  }
                }

                .bot {
                  .bot-one {
                    .el {
                      &.one {
                        font: 500 80px/80px 'Wire One', sans-serif;
                        letter-spacing: 12px;
                        padding-left: 12px;
                        color: #ffffff;
                      }
                    }
                  }

                  .bot-two {
                    .el {
                      &.one {
                        font: 500 30px/60px 'Wire One', sans-serif;
                        letter-spacing: 28px;
                        padding-left: 28px;
                        color: #2d2d2d;
                      }
                    }
                  }
                }
              }

              .links {
                top: 20px;
                left: 20px;

                .link {
                  height: 30px;
                  margin-left: 10px;

                  a {
                    font: 300 14px/20px 'Roboto', sans-serif;

                    &.telega {
                      .full {
                        display: none;
                      }

                      .short {
                        display: block;
                      }
                    }
                  }
                }
              }

              .qr-code {
                width: 35px;
                height: 35px;
                top: 17px;
                right: 17px;
              }

              .cta {
                bottom: 20px;
                letter-spacing: 15px;
                padding-left: 15px;
              }
            }

            &.two {
              .block {
                padding: 20px 0;

                h1 {
                  margin: 0 20px;
                  padding: 0 0 6px;
                  font: 500 60px/60px 'Wire One', sans-serif;
                  border-bottom: 8px solid #fff;
                }

                .about {
                  max-width: 380px;
                  width: 100%;
                  top: 110px;
                  left: 0;

                  .text {
                    padding: 0 20px;
                    font: 300 14px/20px 'Roboto', sans-serif;
                    text-align: left;
                  }
                }

                .icon-dev {
                  position: absolute;
                  width: 80px;
                  height: 80px;
                  bottom: -1px;
                  left: 20px;
                }

                .skills-block {
                  width: 100%;
                  padding: 0 20px;

                  .skill {
                    margin-top: 5px;

                    .s-title {
                      font: 300 14px/26px 'Roboto', sans-serif;
                      letter-spacing: 4px;
                    }
                  }
                }
              }
            }

            &.fish {
              padding: 20px;
              font: 500 60px/80px 'Wire One', sans-serif;

              span {
                &.title {
                  letter-spacing: 10px;
                  padding-left: 10px;
                }

                &.subtitle {
                  font-size: 16px;
                  line-height: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}
