@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

.app {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
}

.main {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.wrapper-content {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 20px solid #ffffff17;
    padding: 40px;
}

.border {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px;
}

.border > span {
    position: relative;
    width: 100%;
    height: 100%;
}

.border > span:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #ffffff38;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h1, h2 {
    color: #ffffff;
    padding: 12px 20px;
}

h1 {
    margin: 0;
    font: 500 111px/111px 'Wire One', sans-serif;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font: 500 112px/114px 'Wire One', sans-serif;
    text-transform: uppercase;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.link {
    width: 110px;
    height: 110px;
    margin-left: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.link > a.gmail {
    background-color: #ffffff;
}
.link > a.gmail:hover {
    background-color: rgba(245, 245, 245, 0.75);
}

.link:first-child {
    margin-left: 0;
}

a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: background-color 100ms ease-in-out;
    text-indent: -9999px;
}

a.github {
    background-color: #ffffff;
    mask-image: url("./github.svg");
    mask-size: cover;
    -webkit-mask-size: cover;
    animation: logo-spin infinite 60s linear;
}

a.gmail {
    background: url("./gmail.svg") no-repeat;
    background-size: 102%;
    background-position: 50%;
    animation: logo-spin infinite 30s linear;
}

a.telega {
    background-color: #ffffff;
    mask-image: url("./telega.svg");
    mask-size: cover;
    -webkit-mask-size: cover;
    animation: logo-spin infinite 15s linear;
}

a:hover {
    background-color: rgba(245, 245, 245, 0.75);
}

@keyframes logo-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rainbow {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 25%
    }
    100% {
        background-position: 0 50%
    }
}
